    .container[b-7jb2heabon] {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        gap: 20px;
    }

    .card[b-7jb2heabon] {
        width: 100%;
        border: 1px solid black;
        border-radius: 7px;
    }

    .card-title[b-7jb2heabon] {
        color: rebeccapurple;
    }

    .card-text[b-7jb2heabon] {
        color: #757575; /* Lightest grey with 4.5:1 contrast over white */
        line-height: 1.5; /* Space between lines of the paragraph */
    }