<style >
.card[b-i0kpzcyurd] {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    border-radius: 4px;
    box-sizing: border-box;
}

.card-container[b-i0kpzcyurd] {
    display: grid;
    gap: 20px;
}

select[b-i0kpzcyurd] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 20%;
    background: #f1f1f1;
}

input[b-i0kpzcyurd] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 20%;
    background: #f1f1f1;
}

button[b-i0kpzcyurd] {
    padding: 10px;
    font-size: 17px;
    background: #2196F3;
    color: white;
    border: 1px solid grey;
    cursor: pointer;
    width: 20%;
}

    button:hover[b-i0kpzcyurd] {
        background: #0b7dda;
    }

</style[b-i0kpzcyurd] >
