<div class="card">
    <div class="card-body">
        <div class="card-content">
            <h5 class="card-title">PersonID: @PersonID</h5>
            <div class="name-container">
                <p class="first-name">FirstName: @FirstName</p>
                <p class="last-name">LastName: @LastName</p>
            </div>
        </div>
        <div class="button-container">
            <button @onclick="() => EditData(PersonID)">Edit</button>
            <button @onclick="() => DeleteData(PersonID)">Delete</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int PersonID { get; set; }

    [Parameter]
    public string FirstName { get; set; }

    [Parameter]
    public string LastName { get; set; }

    [Parameter]
    public EventCallback<int> EditData { get; set; }

    [Parameter]
    public EventCallback<int> DeleteData { get; set; }
   }
